$font-stack: 'Open Sans', Helvetica, sans-serif;
$primary-color: #241b3c;
$secondary-color: #62121e;
$body-color: #222;
$darkest: #222;
$lightest: #f1f1f1;
$primary-bg: $lightest;
$border-colour: #ccc;
$even-bg: #e3e3e3;
$odd-bg: $lightest;

body {
    font: 100% $font-stack;
    font-weight: 400;
    background: $primary-bg;
    color: $body-color;
}

h1,
h2,
h3,
h4 {
    font-weight: 400;
}

.primary-color {
    color: $primary-color;
}

.secondary-color {
    color: $secondary-color;
}

.admin-sidebar {
    background: $primary-color;
    height: 100%;
    border-right: 1px solid $darkest;

    a {
        color: $lightest;
        display: block;
        padding: 1rem;
        border-bottom: 1px solid lighten($primary-color, 10%);

        &:hover,
        &:active {
            background: $secondary-color;
            color: $lightest;
            text-decoration: none;
        }
    }
}

.widget {
    border: 1px solid $border-colour;
    border-radius: 4px;

    .widget-row {
        clear: both;

        &:after {
            content: "";
            display: table;
            clear: both;
        }

        &:nth-child(even) {
            .widget-left,
            .widget-right {
                background: $even-bg;
            }
        }

        .widget-left,
        .widget-right {
            padding: 0.5em 0 0.5em 0.7em;
        }

        .widget-left {
            width: 30%;
            float: left;
        }

        .widget-right {
            width: 70%;
            float: right;
            border-left: 1px solid $border-colour;
        }
    }
}